<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Todo</title>
</head>

<body>
    <form action="{{ url_for('todolist.editpost', id = id) }}" method="post">
      <h2> Create new TODO </h2>
      
      <p><input type=text name=items value="{{ items }}">
        <p><input type="datetime-local" name="expire_time" value="{{ expire_time }}">
        <p><input type=submit value=update>
        
    </form>
</body>

</html>