<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Todo</title>
</head>

<body>
    <div>
            <h3> Hi {{ user }}! </h3>
            <form action="{{ url_for('auth.logout') }}" method="get">
                <input type="submit" value="Log-out">
            </form>
            <h3> Your Todo-list:</h3>
            <form action="{{ url_for('todolist.addtodo') }}" method="get">
                <input type="submit" value="Add new todo">
            </form>
            <table>
            <tbody>
                <tr>
                <th>No.</th>
                <th>Description</th>
                <th>Expire date</th>
                <th></th>
                </tr>
                {% for item in items %}
                <tr>
                    <td>{{ item.uid }}</td>
                    <td>{{ item.items }}</td>
                    <td>{{ item.expire_time }}</td>
                    <td>
                        <form action="{{ url_for('todolist.edittodo', id=item.uid, items=item.items, expire_time=item.expire_time) }}" method="post">
                            <input type="submit" value="edit">
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('todolist.deletetodo', id=item.uid) }}" method="post">
                            <input type="submit" value="delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
      
</body>

</html>